@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #4E664A;
}

.container {
  display: flex;
  height: 95vh;
}

.left-content, .right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-content {
  background-color: #4E664A;
  text-align: center;
}

.right-content h3 {
  color: rgb(255, 255, 255);
}

.right-content img {
  width: 15.625rem;
  height: auto;
  margin-bottom: 1.25rem;
}

.left-content-register, .right-content-register {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-content-register {
  background-color: #4E664A;
  color: white;
  text-align: center;
}

.left-content-register img {
  width: 15.625rem;
  height: auto;
  margin-bottom: 1.25rem;
}

.left-content-register h3 {
  color: rgb(255, 255, 255);
}

.container-register {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;  
  padding: 1.25rem;         
  gap: 1.25rem;
}

.footer-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 65.625rem;
  margin-top: 1.25rem;
}

.homepage-container{
  padding-top: 0.3125rem;
  padding-left: 1.25rem;
}

.homepage-filter {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
}

.date-group {
  padding-left: 2.875rem;
  display: flex;
  gap: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap:1.25rem;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.bus-container {
  background-color: #d9d9d9;
  border: 2px solid #4e664a;
  border-radius: 10px;
  margin-top: 20px;
  margin-inline: 5%;
  padding: 12px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat {
  border: 2px solid #4e664a;
  border-radius: 5px;
  padding: 25px;
  margin-inline: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.seat-row {
  display: flex;
  justify-content: center;
}

.passenger-area {
  padding-left: 140px;
}

.seat-occupied {
  background-color: #727272;
  cursor: not-allowed;
}

.seat-selected {
  background-color: #4e664a;
  border-color: #4e664a;
}

.bus-info {
  text-align: left;
  margin: 30px 5% 0 5%;
}
.bus-info-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}


.legend-container{
  text-align: right;
  display: flex;
}

.legend-item{
  align-items: center; 
  display: flex;
  font-weight: 500;
}

.legend-free {
  margin-right: 10px;
  border: 2px solid #4e664a;
  border-radius: 5px;
  padding: 13px;
}

.legend-occupied {
  margin-inline: 10px;
  background-color: #727272;
  border-radius: 5px;
  padding: 15px;
}

.legend-selected {
  margin-inline: 10px;
  background-color: #4e664a;
  border-radius: 5px;
  padding: 15px;
}

.counter p {
  margin: 10px 0;
  font-weight: 700;
}

.counter span {
  text-align: left;
}

.counter-value {
  background-color: #4e664a;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 4px;
  margin-left: 6px;
}
.footer-register-buspage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.25rem;
}

.payment-card {
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid #4E664A;
  border-radius: 0.3125rem;
  width: 18.75rem;
  text-align: center;
  background-color: #f9f9f9;
}

.qrcode-img {
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 1rem;
}

.total-value {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4E664A;
}